body {
  overflow: hidden;
  position: relative;

  overflow: hidden;
  > div {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/404.png");
    background-size: cover;
    background-position: 50% 50%;
    transition: 10s ease-in-out;

    &:hover {
      filter: sepia(25%) contrast(80%) saturate(80%) hue-rotate(320deg)
        saturate(80%) hue-rotate(120deg) sepia(25%);
      filter: sepia(25%) contrast(80%) saturate(80%) hue-rotate(-320deg)
        saturate(80%) hue-rotate(-120deg) sepia(25%);
    }
  }
}
